/*=========================================== Особенности =========================================*/
.feature{
    padding-top: 94px;
}
.feature-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature-list-item {
    width: calc((100% - 30px *3)/4);
    margin-right: 30px;
    &:last-child{
    margin-right: 0;
    }
  &::before{
    display: block;
    content: "";
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.antenna::before{
    display: block;
    content: "";
    /* fill: url("#icon-antenna"); */
    background-image: url("../img/about/Group.svg");
}
.clock::before{
    display: block;
    content: "";
    background-image: url("../img/about/clock-1.svg");
}
.diagram::before{
    display: block;
    content: "";
    background-image: url("../img/about/diagram-1.svg");
}

.astronaft::before{
    display: block;
    content: "";
    background-image: url("../img/about/astronaut-1.svg");
}
.feature-list-item-icon{
    width: 65px;
    height: 70px;
}
.feature-list-item-title {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;

    color: $titles-text-color;
}
.feature-list-item-text {
    font-style: normal;
    font-weight: normal;
    line-height: 1.714;

    letter-spacing: 0.03em;
}
/*=========================================== Особенности =========================================*/
@media screen and (min-width: 320px) and (max-width: 768px){
    .feature{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .feature-list-item {
        width: calc((100% - 30px *1)/1);
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .feature-list-item-title{
        text-align: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .feature-list-item {
        margin-right: 0;
        width: calc((100% - 30px *1)/2);
       &:nth-last-child(-n + 2){
           margin-bottom: 0;
       }
    }
    .feature-list-item-title{
        text-align: start;
    }
}