/*======================================== Постоянные клиенты ========================================*/
.clients{
    padding-top: 60px;
    padding-bottom: 60px;
}
.client-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.client-list-item{
    display: flex;
    width: calc((100% - 30px * 1) / 2);
    margin-bottom: 30px;
    margin-right: 0;
}
.client-item-list-link{
    width: 210px;
    height: 90px;
    justify-content: center;
    align-items:center;
    display: flex;
    border: 1px solid $team-label-background;
    box-sizing: border-box;
    border-radius: 4px;
    &:hover{
    border-color: $blue-blue-background-color;
    &:hover .client-item-list-link-icon{
    fill: $blue-blue-background-color;
}
}
}
.client-item-list-link-icon{
    width: 45px;
    height: 50px;
    fill: #AFB1B8;
}
.icon-logo-four{
    width: 80px;
    height: 42px;
}
.icon-logo-five{
    width: 59px;
    height: 50px;
}
.icon-logo-six{
    width: 88px;
    height: 45px;
}
/*======================================== Постоянные клиенты ========================================*/

@media screen and (min-width: 768px){
    .client-list-item{
        width: calc((100% - 30px * 2) / 3);
        margin-right: 30px;
        &:nth-child(3){
            margin-right: 0;
        }
        &:nth-child(6){
            margin-right: 0;
        }
    }
    .client-item-list-link{
        width: 226px;
    }
}
@media screen and (min-width: 1200px){
    .clients{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .client-list-item{
        width: calc((100% - 30px *5)/6);
        margin-right: 30px;
        margin-bottom: 0;
        &:nth-child(3){
            margin-right: 30px;
        } 
    }
    .client-item-list-link{
        width: 170px;
    }
    
}