/*======================================= Портфолио Кнопка =========================================*/

.filters{
    padding-top: 60px;
    padding-bottom: 60px;
}
.filters-div{
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    
    flex-wrap: wrap;
  
}
/*======================================= Портфолио Кнопка =========================================*/

@media screen and (min-width: 768px){
    .filters-div{
        justify-content: center; 
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 1200px){
    .filters{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .filters-div{
        margin-bottom: 56px;
    }
    
}