/*======================================== Подвал ========================================*/
.footer__bg-color {
    background-color:$footer-background-color;
}
.footer__padding{
    padding-top: 60px;
    padding-bottom: 60px;
}
.basement-list {
    display: flex;   
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.basement-list-item:not(:last-child){
    margin-bottom: 60px;
}
.footer__logo{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;

    display: flex;
align-items: center;
justify-content: center;

text-decoration: none;
color: $white-color;
span {
color: $accent-color;
}
}
.footer-list{
    margin-top: 20px;
    text-align: center;
}
.footer-list-item-link{
    font-size: 14px;
}

.footer-list-item-link{
    font-style: normal;
    font-weight: normal;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $light-gray-color;
    &:hover{
    color: $accent-color;
}
&:not(:last-child){
    margin-bottom: 9px;
}
}
.social-list-item{
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
}
.social-list-icon {
    display: flex;
    margin-top: 20px;
}
.social-list-items:not(:last-child) {
    margin-right: 10px;
}

.footer-social-link{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-link-icon{
    fill: $white-color;
}
.social-list-item{
    display: block;
    text-align: center;
}
.e-mail__text{
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $white-color;
    text-align: center;
}
.e-mail-list{
   flex-wrap: wrap;
}
.e-mail-list-input{
    border: 1px solid $light-gray-border-color;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px $btn-box-shadow-light-black-color);
    border-radius: 4px;
    background: none;

    width: 450px;
    margin-bottom: 20px;
    padding: 15px 16px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    text-align: start;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: $light-gray-color;
    &:focus::placeholder {
    color: transparent;
}
}
.e-mail-list-icon{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: $white-color;
}
/*======================================== Подвал ========================================*/
@media screen and (min-width: 768px){
    .basement-list {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }
    .basement-list-item:first-child{
        margin-bottom: 60px;
    }
    .footer__logo{
        display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1.167;
    }
}
@media screen and (min-width: 1200px){
    .basement-list {
        justify-content: space-between;
        align-items: baseline;
    }
    .basement-list-item{
        margin-bottom: 0;
    }
    .footer__logo{
        align-items: start;
        justify-content: flex-start;
        font-size: 26px;
        line-height: 1.192;
    }
    .footer-list{
        text-align: start;
    }
    .footer-list-item{
        margin-bottom: 0;
    }
    .e-mail-list{
        display: flex;
    }
    .e-mail-list, .e-mail__text, .social-list-item {
        text-align: start;
     
    }
    .e-mail-list-input {
        width: 360px;
        margin-right: 10px;
        margin-bottom: 0;
      
        align-items: center;
    }
}