/*======================================= Портфолио Галерея =========================================*/
.portfolio-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-hover{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background: $blue-blue-background-color;
    transform: translateY(100%);
    padding: 24px 24px 24px 24px;
}
.portfolio-list-item{
    width: 100%;    

    background: $white-color;
    position: relative;
    margin-bottom: 30px;
    & a{
        text-decoration: none;
    }
    
    &:hover{
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        & .project-hover{
            transform: translateY(0);
        }
    }
}
.project-block{
    position: relative;
    overflow: hidden;
    & img{
        display: block;
        max-width: 100%;
        height: auto;
    }
}
.project__text-hover{
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: $white-color;
}
.project__block-text {
    overflow: hidden;
    border: 1px solid rgb(237, 237, 237);
    border-top: 0;
    padding: 20px 24px;
    text-decoration: none;
    & h2{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
    
        letter-spacing: 0.06em;
    
        color: $titles-text-color;
    }
    & p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.875;
        color: $text-color;
    
        letter-spacing: 0.03em;
    }
}
/*======================================= mobill =========================================*/

@media screen and (min-width: 768px){
    .portfolio-list-item{
        width: calc((100% - 30px * 1)/2);
        margin-right: 30px;
        &:nth-child(7){
            margin-bottom: 30px;
        }
        &:nth-child(2n+2){
            margin-right: 0;
        }
        &:nth-last-child(-n+2){
            margin-bottom: 0;
        }
    }
}
@media screen and (min-width: 1200px){
    .portfolio-list-item{
        width: calc((100% - 30px * 2)/3);
        margin-right: 0;
        &:nth-child(n+7){
            margin-bottom: 0;
        }
    }
    .project-hover{
        padding-bottom: 64px;
    }
}