/*========================================== header ==========================================*/

/* mobile */
.header__line::after{
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    background-color: $line-light-gray-color;
}
.header__block {
    display: flex;
    align-items: center;
    height: 80px;
}
.header__logo{
    font-family: "Raleway" sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-decoration: none;

    margin-right: auto;

    color: $titles-text-color;
        span {
            color: $accent-color;
        }
}
.address-link-icon{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: $text-color;
}
.address,
.navigation{
    display: none;
}
.navbars{
    display: block;
    position: relative;
    text-align: center;
    
}
.navigation-media {
    display: none;
    position: absolute;
    top: 50px;
    right: -16px;
    z-index: 6;
    background-color: $white-color;
    width: 500px;
   
    border-top: 1px solid $line-light-gray-color;
   
}
.navigation-media.active {
    display: flex;
    
}
.navigation-media-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.navigation-media-list-item {
    margin-top: 50px;
    & .action {
        color: $accent-color;
        &::after
        {
            display: block;
            content: "";
            width: 100%;
            height: 4px;
            background-color: $accent-color;
            border-radius: 2px;
        }
    }
}
.navigation-media-list-item-link{
    font-style: normal;
    font-weight: 500;
    font-size:18px;
    line-height: 1.166;
    letter-spacing: 0.02em;

    text-decoration: none;
    text-align: center;
    color: $titles-text-color;
}
.address-media{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.address-media-link{
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: $text-color;

    &:hover, &:focus{
        color: $accent-color;
      }
      &:hover .address-link-icon, &:focus .address-link-icon{
      fill: $accent-color;
    }
}

.openMenu-svg{
    width: 24px;
    height: 16px;
    &:hover{
        fill: $accent-color;
    }
}
.openMenu-svg-close{
    width: 19px;
    height: 19px;
    &:hover{
        fill: $accent-color;
    }
}
@media screen and (min-width: 768px){
    .header__logo{
        margin-right: 88px;
    }
    .navbars{
        display: none;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .navigation-list {
        display: flex;
    
       & .action {
            color: $accent-color;
            &::after
            {
                /* display: block; */
                content: "";
                width: 100%;
                height: 4px;
                background-color: $accent-color;
                border-radius: 2px;
                position: absolute;
                left: 0;
                bottom: 0;
            
            }
        }
    
    }

    .navigation-list-item:not(:last-child) {
        margin-right: 50px;
    }
    .navigation-list-item-link {
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
    
        color: $titles-text-color;
        &:hover, &:focus {
            color: $accent-color;
            height: 4px;
            border-radius: 2px;
        }
    }

    .address{
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
    }
    .address-link{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $text-color;
        text-decoration: none;

        &:hover, &:focus{
          color: $accent-color;
        }
        &:hover .address-link-icon, &:focus .address-link-icon{
        fill: $accent-color;
      }
       &:last-child{
        margin-left: 0;
        margin-bottom: 0;
       }
    }
    .navigation-media{
        display: none;
    }
    
}
@media screen and (min-width: 1200px){
   
    .header__logo{
        font-size: 26px;
        line-height: 1.192;
        margin-right: 93px;
    }
    .address{
        margin-left: auto;
    }
    .address-link{
        margin-bottom: 0;
        &:last-child {
            margin-left: 30px;
            }
    }
}
/*========================================== header ==========================================*/