@font-face {
	font-family: 'Raleway Bold';
	src: url('../fonts/raleway_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/raleway_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/raleway_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/raleway_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/raleway_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/raleway_bold.svg#raleway_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}