.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    
}
@media (min-width: 480px) {
    .container {
        width: 480px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
