/* Roboto Black */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/relewey/Roboto Black/fonts/roboto_black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/relewey/Roboto Black/roboto_black.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
		font-weight: 900;
		font-display: swap;
		
}
/* Raleway-Bold */
@font-face {
	font-family: 'Raleway';
	src: 
		url('../fonts/relewey/Raleway-Bold/fonts/raleway_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/relewey/Raleway-Bold/fonts/raleway_bold.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
		font-weight: 700;
		font-display: swap;
}
/* Roboto Light */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto Light/fonts/roboto_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/roboto/Roboto Light/fonts/roboto_light.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
		font-weight: 300;
		font-display: swap;
		
}
/* Roboto Regular */
@font-face {
	font-family: 'Roboto'; 
	src: url('../fonts/roboto/Roboto Regular/fonts/roboto_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/roboto/Roboto Regular/fonts/roboto_regular.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
		font-weight: 400;
		font-display: swap;
}
/* Roboto Medium */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto Medium/fonts/roboto_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/roboto/Roboto Medium/fonts/roboto_medium.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
		font-weight: 500;
		font-display: swap;
}
/* Roboto Bold */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto Bold/fonts/roboto_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/roboto/Roboto Bold/fonts/roboto_bold.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
		font-weight: 900;
		font-display: swap;
}

