$titles-text-color: #212121;
$text-color: #757575;
$accent-color: #1093ff;
$secondary-fone-color: #f5f4fa;
$white-color: #ffffff;
$footer-background-color: #2f303a; 
$sochial-networks-background: rgba(255, 255, 255, 0.1);
$text-background: rgba(47, 48, 58, 0.8);
$team-label-background: #afb1b8;

$line-light-gray-color: #ececec;
$light-gray-color: hsla(0, 0%, 100%, 0.6);
$light-gray-border-color: hsla(0, 0%, 100%, 0.3);
$blue-blue-background-color: rgba(32, 148, 243, 0.902);

$btn-box-shadow-light-black-color:rgba(0, 0, 0, 0.15);